/* .Pokemons{
    margin-top: 50px;
} */
.wrapperContent{
    display: flex;
    width: 1060px;
    justify-content: space-between;
    margin-left: 50px;
    flex-wrap: wrap;
    }

    .filters{
        margin-top: 50px;
    }