.wrapperContent{
    display:flex;
    width: 1032px;
    justify-content: space-between;
    margin:20px;
}
.Pokemons{
    display:flex;
    flex-wrap: wrap;
    width: 1032px;
    justify-content: space-around;
    margin-top: 5px;
}