.pokemonContent{
    display: flex;
    padding: 10px;
}

.pokemonsBlock{       
    background-color:#ECECEC;
    width: 280px;
    height: 450px;
   

}
.pokemonsImg{
    width: 245px;
    height: 342px;
    margin: 15px ;
}
span{
    padding: 10px;
    margin-left: 10px;
}